body
{
    background-color: lightgrey;
}
h1
{
    color: black;
    text-align: center;
    font-size: 100px;

}
#Disclaimer
{
    text-align: center;
    font-weight: 800;
    font-size: 18px;
}
#Recipes
{
    font-size: 22px;
    background-color: rgb(218, 218, 218);
    margin: 5%;
    margin-top: 0%;
    padding: 5%;
}
#Recipes li
{
    text-align: center;
    list-style-type:none;
}
